<% settings = {} unless settings.is_a? Hash %>


<div>
  <%= check_box_tag 'settings[replace_revision_link]', true, !!settings[:replace_revision_link] %>
  Replace the Redmine Revision Links (instead of adding additional link)
</div>

<br />

<div>
  <%= check_box_tag 'settings[open_in_new_window]', true, !!settings[:open_in_new_window] %>
  Open Remote Revision Links in New Tab/Window
</div>